<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management Website</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-600 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Task Management</h1>
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:underline" routerLink="dashboard">Dashboard</a></li>
                <li><a href="#" class="hover:underline" routerLink="login">Tasks</a></li>
                <li><a href="#" class="hover:underline" routerLink="register">Register</a></li>
            </ul>
        </div>
    </nav>
    <!-- sqios.vercel.app -->
    <div class="container mx-auto mt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <div class="text-center bg-gray-100 p-12">
                <h1 class="text-4xl font-bold text-blue-800 mb-4">Simplify Task Management</h1>
                <p class="text-lg text-gray-600">Organize and Prioritize with Ease</p>
                <p class="mt-4 text-gray-700">Welcome to TaskGenius, where we make managing tasks a breeze. TaskGenius is your go-to solution for optimizing your task management, enhancing collaboration, and ensuring project success. Our platform is designed to streamline your workflow and boost productivity.</p>
                <a href="#" routerLink="register" class="mt-6 inline-block bg-blue-600 text-white font-semibold px-6 py-2 rounded hover:bg-blue-700">Explore More &rarr;</a>
            </div>            
            <div class="text-center">
             <!-- <img src="/src/assets/ladypicture.png" alt="Task Management Image" class="rounded-lg shadow-lg"> -->
                <img src="https://img.freepik.com/premium-photo/college-students-are-discussing-with-advisor_53876-72982.jpg?size=626&ext=jpg&ga=GA1.1.678195869.1698143710&semt=ais
                " alt="Task Management Image" class="rounded-lg shadow-lg">
            </div>
        </div>
    </div>
    
</body>
</html>
